* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  min-height: 100%;
  position: relative;
}
body {
  background: linear-gradient(#283542, #5f6163);
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: center;
  padding: 4px;
}

tr:nth-child(n) {
  background-color: #a7a9ab;
}

th {
  background-color: #283542;
  color: white;
  font-size: medium;
  text-shadow: 3px 3px 2px #666;
}
hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0;
  border-top: 1px solid #eee;
}
.principal{
    text-align: center;
}

h2 {
  color: white !important;
  text-shadow: 3px 3px 2px #666;
}
h4 {
  color: #fff;
  text-shadow: 3px 3px 2px #666;
}
h5 {
  color: #fff;
  text-shadow: 3px 3px 2px #666;
}
label {
  color: white;
  text-align: center;
}

header {
  background-color: #283542;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

#btnOne {
  text-align: center;
}

#btnExportar {
  color: white;
  text-shadow: 3px 3px 2px #666;
  background-color: #283542;
}

.btn-primary {
  color: white;
  text-shadow: 3px 3px 2px #666;
  background-color: #283542;
  background: #283542;
  border: 1px solid #283542;
}

.form-control {
  height: 40px;
}

#pagina {
  position: relative;
  min-height: 100%;
}

#contenido {
  padding-bottom: 50px;
  /* este valor debe ser igual o mayor al alto del pie */
}

#pie {
  height: 100px;
  line-height: 50px;
  font-size: 110%;
  color: white;
  text-shadow: 3px 3px 2px #666;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.w3-container {
  height: 200px;
}

footer {
  font-size: small;
  height: 50px;
  background-position: center bottom;
  background-size: 100% 85%;
  background-repeat: repeat-x;
  min-height: 50vh;
  text-align: center;
  padding: 40px 0 20px;
}

footer p {
  color: #f8f8f8;
  font-size: 14px;
}

footer a.totop {
  color: #fff;
  margin-bottom: 30px;
}

footer a.totop:focus {
  outline: 0;
}

@media print {
  .main-wrapper,
  .btn,
  .close,
  .w3-container,
  #form-parqueo,
  #parkingTable,
  .no-mostrar-print,
  .reporte,
  footer,
  .modal-footer {
    display: none;
  }
  body * {
    background: #fff !important;
    border: 0 !important;
  }
  html * {
    overflow: hidden !important;
  }
  @page {
    size: 5.5in 8.5in;
  }
  .modal-dialog {
    max-width: 100%;
  }
  .modal-content {
    font-size: 300%;
  }
  .modal-title {
    font-size: 150%;
    font-weight: 100 !important;
  }
  .modal-body {
    font-size: 34px;
    font-weight: 100 !important;
  }
}
.despedida {
  text-align: center;
}
.parqueadero {
  background-color: rgb(230, 102, 102);
}
.alert-danger {
  color: #000;
  background-color: #ebc47d;
  border-color: #ebc47d;
}
#cuerpo{
  text-align: center;
}
.titulo{
  text-align: center !important;
}
#contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  height: 800px;
}

#contenedor > div {
  width: 50%;
}
.center{
  width: 250px;
  align-content: center;
  
}
.container1{
  height: 50px;
}
#img_parking{
  height: 800px;
  background-image: url("../img/parking.jpg");
  opacity: 0.2;
  display: flex;
  background-size: 100% 100%;
}
footer {
  margin-top:0 auto !important;
}
.alerta{
  color:rgb(230, 102, 102);
}
.page-header{
  height: 50px;
}
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
  -webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
}
a {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}
a:focus {
  color: #bababa;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #bababa;
  text-decoration: none;
  background-color: transparent;
}
.header{
  background-color: #283542;
}
h6{
  color: #fff;
}
.whatsapp, .whatsapp:hover, .whatsapp:focus {
  position:fixed;
  text-align: center;
  width:60px;
  height:60px;
  bottom:40px;
  right:50px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  z-index:10;
}

.whatsapp-icon {
  margin-top:13px;
}
